<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Experimentation data</h1>

    
    <p class="secret-text"><a href="https://docs.google.com/spreadsheets/d/1wE1pLc9R4ZixbrPDqXgxi7TwBN7soPD1/edit?usp=sharing&ouid=100459493579438398413&rtpof=true&sd=true">Applicants data</a></p>
    <p class="secret-text"><a href="https://drive.google.com/drive/folders/1-wxHfTN_Vc5giECh-yWkPdYSIUCmgvHe?usp=sharing">Emails</a></p>
    <p class="secret-text"><a href="https://drive.google.com/file/d/1LMedtCBDrYj4JeZFuTZoCa_-DGe6xz9l/view?usp=sharing">More</a></p>
        



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <!-- <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a> -->
  </div>
</div>

<%- include('partials/footer') %>
